.flexBox {
    display: flex;
    align-items: center;
    place-content:center;
    flex-wrap: wrap;
}
.generalTexts{
    color: white;
    font-family: DosisLight;
}
.centeredTexts{
    color: white;
    font-family: DosisLight;
    text-align: center;
}
.layer{
    position: absolute;
}
.tabButton{
    width: 7rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: black;
    border: 2px solid;
}
.circular-progress {
    position: relative;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #000000;
    border-radius: 50%;
}
.value-container {
    position: relative;
    color: goldenrod;
}
#circleContainer {
    height: 15rem;
    width: 15rem;
    background-color: #000000;
    border-radius: 8px;
    place-items: center;
    position: relative;
    display: grid;
}
#lootboxText{
    opacity: 0;
    transition: 1s;
}
#lootboxText.fade-in {
    opacity: 1;
    transition: 1s;
}
